@import 'tailwindcss';
@import './custom.css';
@source '../views';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.booking-shadow {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
}

.booking-search-shadow {
    box-shadow: 0 2px 8px rgba(26, 43, 73, 0.16);
}

.pointer {cursor: pointer;}
.progress{cursor:progress;}

/* Datepicker overrides */
.air-datepicker {
    --adp-background-color: var(--color-slate-800);
    --adp-background-color-hover: var(--color-slate-800);
    --adp-background-color-active: #0066ff;
    --adp-color: #1a2b49;
    --adp-accent-color: #0066ff;
    --adp-cell-background-color-selected: #0066ff;
}



.default{
    cursor:default;
}

.property-card {
    transition: all 0.3s ease;
}

.property-card:hover {
    transform: translateY(-2px);
}
.daterangepicker td.available,
.daterangepicker td.in-range,
.daterangepicker td.active,
.daterangepicker td.start-date,
.daterangepicker td.end-date {
    background-color: #1e293b !important; /* Tailwind bg-slate-800 */
    color: #cbd5e1 !important; /* Tailwind text-slate-300 */
    border-radius: 0.375rem !important; /* rounded-md */
}

.daterangepicker td.available:hover {
    background-color: #334155 !important; /* Tailwind bg-slate-700 */
    color: #ffffff !important;
}
.daterangepicker td.off.available {
    background-color: #1e293b !important;
    color: #64748b !important; /* Tailwind's text-slate-400 */
}
.daterangepicker td.available:hover,
.daterangepicker td.off.available:hover {
    background-color: #334155 !important; /* Tailwind's bg-slate-700 */
    color: #f1f5f9 !important; /* Tailwind's text-slate-50 */
}
.daterangepicker td.available,
.daterangepicker td.off {
    background-color: #1e293b !important; /* Tailwind's bg-slate-800 */
    color: #cbd5e1 !important; /* Tailwind's text-slate-300 */
}